@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500&display=swap");

* {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Monserrat, Helvetica, sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #46abf3;
	box-shadow: inset 0px -1px 0px #5a2303;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	transition: top 0.25s ease;
	z-index: 10;
}

.hamburger {
	display: none;
}

.navlinks-container a {
	font-family: "Roboto Flex", sans-serif;
	margin: 0 10px;
	text-decoration: none;
	color: white;
	display: inline-block;
	position: relative;
	font-size: 18px;
}

.navlinks-container a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -3%;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: left;
	background: white;
	transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
	transform: scaleX(1);
}

header {
	height: 100vh;
	width: 100%;
	font-family: "Ubuntu", sans-serif;
	color: white;
	margin: 0 auto;
	background-color: #46abf3;
}

.background {
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

#ground {
	width: 100%;
	height: 20%;
	background: url("assets/ground.png") no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
}

#slave {
	width: 100px;
	height: 20.5%;
	background: url("assets/slave.png") no-repeat;
	position: absolute;
	background-position: bottom;
	bottom: 20%;
	left: 30%;
}

#master {
	width: 100px;
	height: 20.5%;
	background: url("assets/maitre.png") no-repeat;
	background-position: bottom;
	position: absolute;
	bottom: 20%;
	right: 30%;
}

h1 {
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	text-align: center;
	font-family: "Anton", sans-serif;
}

section h2 {
	padding-top: 20px;
	font-size: 4rem;
	text-align: center;
	margin: 0;
	font-family: "Anton", sans-serif;
}

section {
	height: 100%;
	background: #5a2303;
	color: white;
}

.flex {
	display: flex;
	overflow-x: hidden;
}

.flex div {
	padding: 15px;
	position: relative;
	top: 0;
}

.flex div p {
	letter-spacing: 1.5;
	text-align: justify;
	max-width: 100%;
}

#download {
	background-color: #46abf3;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#download p {
	margin: 30px 0;
	max-width: 50%;
	font-size: 1.1rem;
	text-align: center;
}

.btn {
	text-decoration: none;
	font-size: 1.2rem;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 20px;
	transition: all 0.25s;
}

.btn:hover {
	background-color: white;
	color: #46abf3;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
}

.card {
	background-color: white;
	min-width: 250px;
	max-width: 300px;
	padding: 30px;
	margin: 30px;
	border-radius: 30px;
	color: #5a2303;
	text-align: center;
}

.card img {
	width: 100%;
	border-radius: 100%;
}

.card h3 {
	font-size: 1.5rem;
	color: black;
}

@media (max-width: 900px) {
	nav {
		box-shadow: none;
	}

	.hamburger {
		width: 20px;
		height: 20px;
		cursor: pointer;
		border: none;
		display: flex;
		background-color: #46abf3;
		align-items: center;
		position: relative;
	}

	.hamburger span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: white;
		position: absolute;
		pointer-events: none;
		transition: opacity 0.3s 0.15s ease-out;
	}

	.hamburger span:nth-child(1),
	.hamburger span:nth-child(3) {
		transition: transform 0.3s ease-out;
	}

	.hamburger.open span:nth-child(1) {
		transform: translate(0) rotate(135deg);
	}

	.hamburger.open span:nth-child(2) {
		opacity: 0;
		transition: opacity 0s ease-in-out;
	}

	.hamburger.open span:nth-child(3) {
		transform: translate(0) rotate(-135deg);
	}

	.hamburger span:nth-child(1) {
		transform: translateY(7px);
	}

	.hamburger span:nth-child(3) {
		transform: translateY(-7px);
	}

	.navlinks-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		background-color: #46abf3;
		top: 100%;
		right: 0;
		width: 100vw;
		box-shadow: inset 0 -1px 0 #5a2303;
		transform: translate(-100%);
		z-index: -1;
	}

	.open {
		transform: translate(0%);
	}

	.navlinks-container a {
		margin: 10px 0;
	}

	.flex {
		flex-direction: column;
	}
}
